@import '../../../../dxa-styles';
@import '../../../../themes/generated/variables.additional';

:host {
    width: 100%;

    // Navigation drawer should be on top of datagrid drawer
    ::ng-deep > dx-drawer > .dx-drawer-wrapper {
        > .dx-drawer-panel-content.dx-overlay {
            z-index: 1503 !important;
        }

        > .dx-drawer-content > .dx-drawer-shader {
            z-index: 1502 !important;
        }
    }
}

.container {
    height: 100%;
    flex-direction: column;
    display: flex;
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 0;
}

.logo {
    font-size: 24px;

    a {
        text-decoration: none;
        color: $base-text-color;
    }
}

#navigation-header {
    background-color: $base-accent;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    ::ng-deep .menu-button {
        .dx-icon {
            color: $base-text-color;
        }

        width: $side-panel-min-width;
        text-align: center;
        padding: 0;
    }

    @media (max-width: $tablet-width) {
        & {
            padding-left: 20px;
        }
    }
}
