@import '../../../../dxa-styles';

:host {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 24px 24px 0;
}

form {
    width: 100%;
    min-height: 0;
    display: flex;
    flex-direction: column;
}

@media (max-width: $mobile-width) {
    :host {
        padding: 16px 16px 0;
    }
}

dx-html-editor {
    margin-bottom: 10px;
}

dx-toolbar {
    margin-top: auto;
}

.html-editor-field {
    min-height: 0;
}

dx-html-editor {
    min-height: 150px;
}
