@import 'dxa-styles';

html, body {
    margin: 0;
    min-height: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
}

.content {
    line-height: 1.5;

    h2 {
        font-size: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.content-block {
    display: flex;
    flex: 1;
    height: 100%;
}

.responsive-paddings {
    padding: 0 20px 20px;

    @media only screen and (min-width: $tablet-width + 1) {
        & {
            padding: 0 30px 30px;
        }
    }
}

.dx-card.wide-card {
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
    border-right: 0;
    border-left: 0;
}
