@import './themes/generated/variables.additional';

$base-font-size: 14px;
$toolbar-height: 64px;
$navigation-menu-border-color: rgba($base-border-color, 0.5);
$icon-color: rgba(0, 0, 0, 0.6);
$secondary-text-color: rgba(0, 0, 0, 0.6);
$tablet-width: 1279px;
$mobile-width: 599px;
$side-panel-min-width: 60px;
